<section id="instagram" class="wrapper style3 special">
	<div class="insta-inner">
		<header class="major">
			<h2>Instagram</h2>
			<!-- <p>Recent posts</p> -->
		</header>
		<!-- embedsocial -->
    <div class="embedsocial-hashtag" data-ref="c88f930ddbf382aaf0095a5c995abf1cce9e27cf"><a class="feed-powered-by-es" href="https://embedsocial.com/social-media-aggregator/" target="_blank" title="Powered by EmbedSocial">Powered by EmbedSocial<span>→</span></a></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialHashtagScript"));</script>
	</div>
</section>
