<!-- One -->
<section id="one" class="wrapper style2 special">
	<div class="inner">
		<header class="major">
			<h2>The new album<br />
			THE UP RISING</h2>
			<div class="spotlight">
				<a href="https://empmerch.com/?submit=&s=last+crack&post_type=product" class="image">
					<img src="assets/images/cover-image-with-text.jpg" alt="THE UP RISING by Last Crack">
				</a>
				<div class="content">
					<p>
						<b>Available for pre-order</b><br>
						Get the <a href="https://empmerch.com/product/last_crack_the_uprising_preorder_cd/">CD</a> or the <a href="https://empmerch.com/product/last-crack-the-uprising-lp-pre-order/">LP</a> from EMP Label Group.
					</p>
					<ul class="actions">
						<li><a href="https://empmerch.com/?submit=&s=last+crack&post_type=product" class="button">Get it here!</a></li>
					</ul>
				</div>
			</div>
		</header>
		<h3>Also Listen on:</h3>
		<ul class="icons major">
			<li>
				<a href="https://geo.itunes.apple.com/us/artist/last-crack/69557367?mt=1&app=music&at=11lMBQ&ct=lastcrack">
					<span class="icon fa-apple major style1"><span class="label">iTunes</span></span>
				</a>
			</li>
			<li>
				<a href="https://open.spotify.com/artist/0TDOgU9yigClXJSWBCTFBU">
					<span class="icon fa-spotify major style2"><span class="label">Spotify</span></span>
				</a>
			</li>
			<li>
				<a href="https://amzn.to/2XZolZp">
					<span class="icon fa-amazon major style3"><span class="label">Amazon</span></span>
				</a>
			</li>
		</ul>
	</div>
</section>
