<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Upcoming Shows</h2>
			<!-- <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br /> fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p> -->
		</header>
			<a href="https://www.songkick.com/artists/203686" class="songkick-widget" data-theme="light" data-track-button="on" data-detect-style="true" data-background-color="transparent">Last Crack Tour Dates</a>
			<script src="//widget.songkick.com/203686/widget.js"></script>
	</div>
</section>
