<section id="two" class="wrapper alt style2">

	<section class="spotlight">
		<div class="image">
			<img src="{{ "" | absolute_url }}assets/images/band-photo-full.jpg" alt="Last Crack Band Photo" />
		</div>
		<div class="content">
			<h2>About The Band</h2>
			<p>
				The band will release their long-awaited third full-length LP The Up Rising, in stores May 31. Recorded from 2017-19 at Megatone Studios in Madison, WI, the release will be the band's first studio release since 1991's critically-acclaimed BURNING TIME, the follow up to their breakthrough 1989 Roadrunner debut Sinister Funkhouse #17.
			</p>
			<p>
				<a href="{{ "" | absolute_url }}about" class="button">More</a>
			</p>
		</div>
	</section>

</section>
